<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%= "generate.html" %>

<h1>Hi</h1>

Cell Phone : <%= @primarynumber.ljust(8, ' ') %> <br>
Challenge Number : <%= @randnumber %>


<% form_tag({:action => :check}, {:method => :post}) do %>

Type Verification Code: <%= text_field_tag :respnumber %>

<%= submit_tag "Submit" %>

<% end %>
