<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%=h @primarynumber %> is stored in the session! <br />

<% form_tag({:action => :register}, {:method => :post}) do %>
<p>
Username: <%= text_field_tag :username %>
</p>

<p>
Password: <%= password_field_tag :password %>
</p>

<p>
Confirm: <%= password_field_tag :password_confirmation %>
</p>

<h2>Preferences:</h2>

<p>
Ads Frequency Per Week: <%=  select_tag "ads_freq", options_for_select(%w{ 0 2 4 7 14 }, "2") %>
</p>

<p>
<% for category in @categories %>
    <%= check_box_tag 'category_ids[]', category.id %><%=h category.name %>: <%=h category.description %><br />
<% end %>
</p>


<%= submit_tag "Register" %>

<% end %>