<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <script type="text/javascript">
  <!--
  var form_submitted = false;
  function submit_form ()  {
    if ( form_submitted )  {
      alert ( "Your form has already been submitted. Please wait..." );
      return false;
    }
    else {
      form_submitted = true;
      return true;
    }
  }
  // -->
  </script>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'stylesheet' %>
</head>

<body>
<!-- wrapper starts here -->
<div id="wrapper">
  <!-- header starts here -->
  <div id="header">
    <div class="logo">
      <h1>The tree hills</h1>
      <p>Clean Simple Web Design Company</p>
    </div>
    <div class="nav">
      <ul>
        <li><%= link_to_if session[:user_id].nil?, 'REGISTER', root_url do
            link_to 'HOME', :controller => 'users', :action => 'show'
            end %>
        </li>
        <li><a href="#">DEALS</a></li>
        <li><a href="#">HOW IT WORKS?</a></li>
        <li><a href="#">BLOG</a></li>
        <li><%= link_to_if session[:user_id].nil?, 'LOGIN', :controller => 'home', :action => 'index' do
            link_to 'LOGOUT', :controller => 'home', :action => 'logout'
            end %>
        </li>
      </ul>
    </div>
  </div>
  <!-- header starts here -->
  <!-- container top bg starts here -->
  <div id="continertopbg">
    <!-- container bottom bg starts here -->
    <div id="continerbottombg">
      <!-- container holder starts here -->
      <div id="continer">
        <!-- blcok one starts here -->
        <div class="block1">
          <p style="color: green"><%= flash[:notice] %></p>
          <%= yield %>
        </div>
        <!-- blcok one ends here -->
        <!-- blcok two starts here -->
        <div class="block2">
          <div class="block2heder"> <span>Mauris erat ligula</span>
            <h1>Placerat sed eleifend</h1>
          </div>
          <p>Sodales sit amet elit. Aliquam ac libero quis lectus dictum lobortis eu auctor velit. Praesent ante lectus, sagittis sed lacinia venenatis, semper ut eros. Curabitur egestas urna bibendum nunc cursus euismod. Mauris eleifend nulla nec erat lacinia cursus.</p>
          <div class="blue">Proin viverra<br />
            odio et orci enim</div>
          <div class="green">
            <div class="greenheader">Morbi semper mi <br />
              sit amet</div>
            <p>Sed augue nulla, fermentum ac ullamcorper a, hendrerit volutpat nibh. Integer imperdiet purus in augue scelerisque vitae pellentesque lectus hendrerit.</p>
          </div>
        </div>
        <!-- blcok two ends here -->
      </div>
      <!-- container holder ends here -->
    </div>
    <!-- container bottom bg ends here -->
  </div>
  <!-- container top bg ends here -->
  <!-- summry block starts here -->
  <div class="summryblock">
    <!-- inner wrapper starts here -->
    <div class="innerwrapper">
      <div class="curlyopen"></div>
      <div class="summryblock1">
        <h2>Vestibulum sed felis</h2>
        <p>Ut ipsum ultricies ultrices et id sem. Mauris ornare ante ut velit ultrices at condimentum ligula suscipit.</p>
      </div>
      <div class="summryblock2">
        <h2>Phasellus consequat </h2>
        <p>In sed dui eget augue interdum vestibulum. Quisque a tortor nisi, quis blandit nulla.</p>
      </div>
      <div class="summryblock3">
        <h2>Integer nec diam lacus </h2>
        <p>Ut sapien lacus, mollis facilisis ullamcorper et, vulputate non mauris. Maecenas sollicitudin iaculis cursus. </p>
      </div>
      <div class="curlyclose"></div>
    </div>
    <!-- inner wrapper ends here -->
  </div>
  <!-- summry block ends here -->
  <!--  blue bg starts here -->
  <div class="blueContaner">
    <!-- inner wrapper starts here -->
    <div class="innerwrapper">
      <!-- blue left block starts here -->
      <div class="blueleftblock">
        <!-- text box starts here -->
        <div class="text">
          <h1>Vivamus dapibus lorem</h1>
          <p>Ac lacus lobortis eget suscipit ante imperdiet. Vivamus ac dui enim. Phasellus non ultrices velit. Nullam ultricies velit nec lacus porta a gravida erat lobortis. Mauris nunc sem, porta sit amet sagittis sed, consequat sed augue.</p>
        </div>
        <!-- text box starts here -->
        <!-- text box starts here -->
        <div class="text">
          <h1>Vivamus dapibus lorem</h1>
          <p>Ac lacus lobortis eget suscipit ante imperdiet. Vivamus ac dui enim. Phasellus non ultrices velit. Nullam ultricies velit nec lacus porta a gravida erat lobortis. Mauris nunc sem, porta sit amet sagittis sed, consequat sed augue.</p>
        </div>
        <!-- text box starts here -->
        <!-- text box starts here -->
        <div class="text">
          <h1>Vivamus dapibus lorem</h1>
          <p>Ac lacus lobortis eget suscipit ante imperdiet. Vivamus ac dui enim. Phasellus non ultrices velit. Nullam ultricies velit nec lacus porta a gravida erat lobortis. Mauris nunc sem, porta sit amet sagittis sed, consequat sed augue.</p>
        </div>
        <!-- text box starts here -->
      </div>
      <!-- blue left block ends here -->
      <!-- blue left block starts here -->
      <div class="bluerightblock">
        <div class="slid">
          <div class="tabslidholder">
            <div class="tagHolder">
              <div class="tagtext">congue</div>
              <div class="arrow"></div>
            </div>


             <div class="tagHolder">
              <div class="tagtext">luctus</div>
              <div class="arrow"></div>
            </div>



             <div class="tagHolder">
              <div class="tagtext">Praesent</div>
              <div class="arrow"></div>
            </div>



             <div class="tagHolder">
              <div class="tagtext">Mauris</div>
              <div class="arrow"></div>
            </div>



             <div class="tagHolder">
              <div class="tagtext">Curabitur</div>
              <div class="arrow"></div>
            </div>
          </div>
          <div class="slidheaer">Nam risus tortor, mattis ac sodales at, iaculis eget lorem.</div>
          <p>Mauris erat ligula, placerat sed eleifend quis, sodales sit amet elit. Aliquam ac libero quis lectus dictum lobortis eu auctor velit. Praesent ante lectus, sagittis sed lacinia venenatis, semper ut eros. Curabitur egestas urna bibendum nunc cursus euismod.</p>
          <div class="siderstrip">
            <div class="btnleft"><a href="#"><img src="images/leftarrow.jpg" width="33" height="35" alt="" /></a></div>
            <div class="btnright"><a href="#"><img src="images/rightarrow.jpg" width="33" height="35" alt="" /></a></div>
          </div>
        </div>
        <div class="card">
          <h1>Cras dignissim </h1>
          <div class="cardlist">
            <ul>
              <li>Vivamus ac dui enim<br />
                <p>Suspendisse aliquam dui ut urna </p>
              </li>
              <li> Cras dolor arcu<br />
                <p>Pellentesque venenatis, orci quis </p>
              </li>
              <li>Ut neque orci
                <p>Vivamus sed sapien libero tibendum, </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- blue left block ends here -->
    </div>
    <!-- inner wrapper ends here -->
    <div id="footer">Designed by <a href="http://studio7designs.com">STUDIO7DESIGNS</a></div>
  </div>
  <!-- blue bg ends here -->
</div>
<!-- wrapper ends here -->

</body>
</html>
