<h1>Editing account</h1>

<% form_for( [@user, @account], :url => {:action => "update"} ) do |f| %> 
  <%= f.error_messages %>
  <p>
    <%= f.label :frequency %>    
    <%= f.select :frequency, %w{ 0 2 4 7 14 }, :selected => @account.frequency.to_s %>
  </p>

  <p>
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </p>

  <p>
  <% for category in @categories %>
    <%= check_box_tag 'category_ids[]', category.id, @account.categories.include?(category) %><b><%=h category.name %>:</b> <%=h category.description %><br />
  <% end %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', user_account_path %> |
<%= link_to 'Back to account', user_account_path %>
