<h1>New account</h1>

<% form_for([:user, @account]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :frequency %>
    <%= f.select :frequency, %w{ 0 2 4 7 14 }, :selected => '2' %>
  </p>

   <p>
    <%= f.label :discount %>
    <%= f.text_field :discount %>
  </p>

  <p>
    <% for category in @categories %>
    <%= check_box_tag 'category_ids[]', category.id %><b><%=h category.name %>:</b> <%=h category.description %><br />
    <% end %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_account_path %>
